<h1>Home Page</h1>

<img src="https://images.unsplash.com/photo-1531012451721-432c0ae74527?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjM2OTJ9&s=9a99d701019fa34a5910480cd6fe9633&auto=format&fit=crop&w=634&q=80" alt="carnival">

<p>
    <a href="/about">Go to the about page</a>
</p> 